OCI_TENANCY_OCID=<TENANCY_OCID>
OCI_CAPACITY_PREFLIGHT_REGION=us-ashburn-1
OCI_CAPACITY_PREFLIGHT_QUOTA_REGION=us-ashburn-1
OCI_CAPACITY_PREFLIGHT_MODE=oci
OCI_CAPACITY_PREFLIGHT_AUTH=instance_principal
OCI_CAPACITY_PREFLIGHT_BIND_HOST=127.0.0.1
OCI_CAPACITY_PREFLIGHT_PORT=8000
OCI_CAPACITY_PREFLIGHT_COMPUTE_OCPU_LIMIT=standard-e4-core-count
